<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    
    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>

    <test name="Mobile Tests - Android">
        <parameter name="platform" value="android"/>
        <classes>

            <!-- Login Module -->
            <class name="tests.LoginTest" />
            <!-- Signup Module -->
            <!-- <class name="tests.SignupTest" /> -->
            <!-- Transfer Money Module -->
            <!-- <class name="tests.TransferMoneyTest" />-->
            <!-- Fx Booking Module -->
             <class name="tests.FxBookingTest"/>
            <!-- Bill Pay Module -->
            <class name="tests.BillPayTest"/>
            <!-- Rate Calculator Module  -->
            <class name="tests.RateCalculatorTest"/>
        </classes>
    </test>

</suite>